<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/main.css">

    <title>Automaster</title>
</head>
<body>
<div class="header bg-light">
    <nav class="navbar nav_Hyalual  fixed-top navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"><img src="/static/asset/img/logo1.png" alt="HYALUAL"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <li class="collapse navbar-collapse " id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link " href="/">Главная<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/bausket/">Корзина</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about.html">О компании</a>
                </li>
            </ul>

            <ul class="navbar-nav">
               {% if login != 1 and login != 999%}
                   <form method="get" style="display: inherit;" action="/login/">
                <li class="nav-item">
                    <input name="login" placeholder="Логин" class="form-control mr-2">
                </li>
                <li class="nav-item ml-1">
                    <input name="password" type="password" placeholder="Пароль" class="form-control mr-2">
                </li>

                <li class="nav-item ml-1"><button type="submit" class="btn btn btn-info">Войти</button></li>
                <li class="nav-item ml-1"><a href="/regestration/" class="btn btn btn-info">Регистрация</a></li>
                   </form>
                {% else %}
                   <li class="nav-item mr-1"><h3>{{ name }}</h3></li>
                <form method="post" style="display: inherit;" action="/logout/">
                    <li class="nav-item">
                        <button type="submit" class="btn btn btn-info">Выход</button>
                    </li>
                </form>
                {% endif %}
            </ul>
        </li>
    </nav>
</div>
<div class="wrapper text-white">
    <div class="wrapper2">
        <div class="container-fluid">
            <div class="row mb-4 mt-3 align-items-center">
                <div class="col ">
                    <h2>Портал автомастерских</h2>
                </div>
            </div>
            <div class="row mb-2 align-items-center">
                <div class="col">
                    <h1>Автомастер</h1>
                </div>
            </div>
            <div class="row mb-5 align-items-center">
                <div class="col">
                    <h2>Первый портал для регистрации автомастерских в Барнауле</h2>
                </div>
            </div>
            <div class="row md-2 align-items-center">
                <div class="col"><p></p></div>
            </div>
            <div class="row align-items-centr">
                <div class="col"><p></p></div>
            </div>
            <div class="row align-items-centr">
                <div class="col">
                    <p><a href="#" class="btn_main buy" role="button">Узнать больше</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Модалка-->

<div class="container text-dark">

    {% block rows %}{% endblock %}

</div>

<footer class="bg-dark text-white mt-4">
    {% if foter is defined and login ==999 %}
    <form method="POST" id="addForm"  class="form-inline ">
        <fieldset>
            <legend id="prover">Добавить услугу</legend>
            <div class="form-group">
                <input name="name" placeholder="Название" class="form-control mr-2">
                <input name="description" placeholder="Описание" class="form-control mr-2">
                <input name="price" type="number" placeholder="цена" class="form-control mr-2">
                <select name="id_car_repair_shop" class="form-control" placeholder="Автомастерская">
                    {% for car in car_repair %}
                        <option value="{{ car.Id_Car_reapair_shop }}">{{ car.Name }}</option>
                    {% endfor %}
                </select>
            </div>
            <a id="btn-add" class="btn mt-4 btn-primary mb-4">Создать</a>
        </fieldset>
    </form>
        {% else %}
            <div class="container-fluid py-3">
                <div class="row">
                    <div class="col-md-3">
                        <h5>Footer</h5></div>
                    <div class="col-md-3"></div>
                    <div class="col-md-3"></div>
                    <div class="col-md-3"></div>
                </div>
                <div class="row">
                    <div class="col-md-6"><span class="small"><br></span>
                    </div>
                    <div class="col-md-3"></div>
                    <div class="col-md-3 text-right small align-self-end">©2018 Koles, Inc.</div>
                </div>
            </div>
    {% endif %}
</footer>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        ></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="/static/js/bootstrap.js"></script>
<script src="/static/js/ajax.js"></script>
</body>
</html>