{% extends "base.twig" %}
{% block rows %}
    <div class="container">
        <h2 class="mt-4">Корзина</h2>
        <div class="row">
            <div class="col-8 offset-2">
                <div class="list-group">
                    {% for service in Services %}
                        <div
                           class="list-group-item list-group-item-action flex-column align-items-start  mb-2 mt-2">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">{{ service.name }}</h5>
                                <small>Цена: {{ service.Price }} </small>
                            </div>
                            <p class="mb-1">{{ service.Description }}</p>
                            <a href="/dell/{{ service.Id_Servisces  }}" class="btn btn-danger">Удалить</a>
                        </div>
                    {% endfor %}
                </div>
                <div class="col-4 mr-auto ml-auto">
                    <div class="list-group">
                        <a href="#"
                           class="list-group-item list-group-item-action flex-column align-items-start  mb-2 mt-2 list-group-item-success">
                            <div class="d-flex w-100 justify-content-between ">
                                <small >Итого: {{ sum }} </small>
                            </div>

                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}