{% extends "base.twig" %}
{% block rows %}
    <div class="container">
        <div class="row mt-4 mb-4 align-items-center">
            {% if edit_style==0 %}
                <form method="POST" action="/services/add" class="form-inline">
                    <fieldset>
                        <legend>Добавить услугу</legend>
                        <div class="form-group">
                            <input name="name" placeholder="Название" class="form-control mr-2">
                            <input name="description" placeholder="Описание" class="form-control mr-2">
                            <input name="price" type="number" placeholder="цена" class="form-control mr-2">
                            <select name="id_car_repair_shop" class="form-control" placeholder="Автомастерская">
                                {% for car in car_repair %}
                                    <option value="{{ car.Id_Car_reapair_shop }}">{{ car.Name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <button type="submit" class="btn mt-4 btn-primary">Создать</button>
                        <button type="button" class="btn mt-4 btn-primary" onclick="javascript:history.back()">Назад</button>
                    </fieldset>
                </form>
            {% else %}
                {% for service in services %}
                <form method="POST" action="/service/{{ service.Id_Servisces }}/" class="form-inline">
                    <fieldset>
                        <legend>Добавить услугу</legend>
                        <div class="form-group">
                            <input name="name" value="{{ service.name }}" placeholder="Название" class="form-control mr-2">
                            <input type="text" name="description" value="{{ service.Description }}" placeholder="Описание" class="form-control mr-2">
                            <input name="price" value="{{ service.Price }}" type="number" placeholder="цена" class="form-control mr-2">
                            <select name="id_car_repair_shop" class="form-control" placeholder="Автомастерская">
                                {% for car in car_repair %}
                                    <option value="{{ car.Id_Car_reapair_shop }}">{{ car.Name }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <button type="submit" class="btn mt-4 btn-primary">Сохранить</button>
                        <button type="button" class="btn mt-4 btn-primary" onclick="javascript:history.back()">Назад</button>

                    </fieldset>
                </form>
                    {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}