{% extends "base.twig" %}
{% block rows %}
<form method="POST" action="/addClient/" class="form-inline mt-4">
    <fieldset>
        <legend>Регестрация</legend>
        <div class="form-group">
            <input name="FIO" value="" placeholder="ФИО" class="form-control mr-2">
            <input type="text" name="login" value="" placeholder="Логин" class="form-control mr-2">
            <input name="password" value="" type="password" placeholder="пароль" class="form-control mr-2">
        </div>
        <button type="submit" class="btn mt-4 btn-primary">Зарегистрировать</button>
    </fieldset>
</form>
    {% if error is defined %}
        <h3 class="text-danger">Этот логин уже занят</h3>
    {% endif %}
{% endblock %}