{% extends "base.twig" %}
{% block rows %}

    <div class="row  align-items-center">
        <div class="col">
            <div class="title ">
    <span>
       <h1>Наши услуги</h1>
    </span>
            </div>
        </div>
    </div>

    <div id="services" class="row mb-4 align-items-center">
        {% for service in Services %}
            <div id="service-{{ service.Id_Servisces }}" class="card" style="width: 18rem;">
                <img class="card-img-top" src="static/asset/img/oil.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ service.name }}</h5>
                    <p class="card-text">{{ service.Description }}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Цена: {{ service.Price }}</li>
                </ul>
                <div class="card-body">
                    <a href="/service/{{ service.Id_Servisces }}" class="btn btn-primary">Посмотреть</a>
                    {% if login ==999 %}
                        <button type="submit" class="btn btn-danger btn-ajax" data-id="{{ service.Id_Servisces }}">
                            Удалить
                        </button>
                    {% endif %}
                    {% if login ==1 %}
                        <div id="busket_add-{{service.Id_Servisces }}">
                            {% if service.id_order!=id_order %}
                                <button type="submit" id="serv-{{ service.Id_Servisces  }}" class="btn btn-dark btn-busket mt-2" data-id="{{ service.Id_Servisces }}">Добавить в
                                    корзину
                                </button>
                            {% else %}
                                <a href="/bausket/" class="btn btn-dark btn-busket mt-2">Перейти в
                                    корзину
                                </a>

                        {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}


    </div>
    {#<div class="row mb-4 align-items-center">#}
    {#<form method="get" action="/services/add/" class="form-inline">#}
    {#<fieldset>#}
    {#<button type="submit" class="btn btn-primary fix">Добавитиь услугу</button>#}
    {#</fieldset>#}
    {#</form>#}
    {#</div>#}
{% endblock %}