{% extends "base.twig" %}
{% block rows %}
    <div class="container">
        <div class="row mt-4 mb-4 align-items-center">
            {% for service in servic %}
            <div class="col-4">
                <img class="card-img-top" src="/static/asset/img/oil.jpg" alt="Card image cap">
            </div>
            <div class="col-8">
                <div class="card-body">
                    <h5 class="card-title text-center">{% if servic is defined %}{{ service.name }}{% endif %}</h5>
                    <p class="card-text text-center">{{ service.Description }}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Цена: {{ service.Price }} рублей</li>
                </ul>
            </div>

        </div>
        <div class="modal-footer">
        {% if login == 999 %}
            <form method="Post" action="/services/{{ service.Id_Servisces }}" class="form-inline">
                <button type="submit" class="btn btn-secondary" data-dismiss="modal">Удалить</button>
            </form>
        {% endif %}
            <form method="get" action="/service/up/ {{ service.Id_Servisces }}/" class="form-inline">
                <div class="row">
                    <div class="col">
                {% if login == 999 %}
                        <button type="submit" class="btn btn-primary">Изменить</button>
                {% endif %}
                        <button type="button" class="btn  btn-primary" onclick="javascript:history.back()">Назад
                        </button>
                    </div>
                </div>
            </form>

        </div>
        {% endfor %}
    </div>
{% endblock %}