@charset "UTF-8";
html {
  font-weight: 400;
}
body {
  font-family: 'Raleway', sans-serif;
}
.fix {
  position: fixed;
  left: 1321px;
  top: 546px;
  z-index: 99;
}
.header {
  height: 65px;
  position: fixed;
  z-index: 9999;
  background: #fff;
  width: 100%;
}
.nav_Hyalual {
  max-width: 1160px;
  margin: 0 auto;
}
.wrapper {
  padding-top: 50px;
  background: url(../asset/img/back.jpg) no-repeat;
  background-attachment: fixed;
  background-position: center top;
  background-size: cover;
  color: black;
  z-index: 1;
  position: relative;
}
.wrapper2 {
  background-color: rgba(3, 0, 30, 0.52);
}
h2,
h1,
p {
  text-align: center;
}
h1 {
  font-size: 53px;
}
.btn_main {
  display: inline-block;
  padding: 10px 25px;
  color: #fff;
  text-decoration: none;
  outline: none;
  font-size: 25px;
  transition: 0.3s;
  border: none;
}
.btn_main.buy {
  position: relative;
  background: #6d6e70;
  top: 10px;
  left: 0;
  border-radius: 6px;
  margin: 0 0 5px;
  margin-bottom: 65px;
}
.btn_main.buy:hover {
  background: #a7a9ab;
  color: #fff;
}
.btn_main.buy:active {
  box-shadow: 0 0 0 0 #a7a9ab;
  margin-bottom: 65px;
}
.btn_main.buy_2block {
  position: relative;
  background: #6ac8c7;
  top: 10px;
  left: 0;
  border-radius: 6px;
  margin: 0 0 5px;
}
.btn_main.buy_2block:hover {
  background: #a7a9ab;
  color: #fff;
}
.btn_main.buy_2block:active {
  box-shadow: 0 0 0 0 #a7a9ab;
  margin: 5px 0 0;
}
.speaker_img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
}
.title {
  /* Чтобы спрятать часть линий, которые
  ** будут вылазить за пределы блока */
  overflow: hidden;
  /* Выравнивание заголовка по центру,
  ** можно использовать left, right */
  text-align: center;
  /* Тут можно добавить другие стили для заголовка */
  font-size: 30px;
}
.title span {
  /* Стили тега обертки для заголовков
    ** в несколько строк */
  display: inline-block;
  vertical-align: middle;
}
.title :before,
.title :after {
  /* Обязательно указываем пустое свойство content,
    ** иначе псевдоэлементы не появятся на сайте */
  content: "";
  /* Указываем что наши линии будут строчно-блочные и
    ** выравнивание по высоте - по центру */
  display: inline-block;
  vertical-align: middle;
  /* Задаем ширину 100% и выбираем высоту линии,
    ** в нашем примере она равна 4 пикселям */
  width: 70%;
  height: 3px;
  /* Добавляем цвет для линии */
  background-color: #fff;
  /* Добавляем пседоэлемантам возможность изменить
    ** позицию линии, для создания отступов от текста */
  position: relative;
}
.title :before {
  /* Смещаем левую линию на 100% влево, чтобы линия
    ** встала рядом с текстом слева */
  margin-left: -100%;
  /* Указываем в пикселях отступ линии от текста заголовка */
  left: -14px;
}
.title :after {
  /* Смещаем правую линию на 100% вправо, чтобы
    ** линия встала рядом с текстом справа */
  margin-right: -100%;
  /* Указываем в пикселях отступ линии от текста заголовка */
  right: -14px;
}
.card_one {
  margin: auto;
  background: url(../asset/img/oil.jpg) -1px -256px;
}
.card {
  margin: auto;
  border: none!important;
}
.about {
  margin-top: 15px;
}
.text_about {
  text-align: center;
  font-size: 20px;
}
